#app {
    min-width: 800px;
    width: 800px;
    margin: 0 auto;
}

.cell {
    background-color: darkgoldenrod;
}

.no-cell {
    background-color: lightgrey;
}

.div-style {
    width: 14px;
    height: 14px;
    margin: 0.5px;
    float: left;
}

.list {
    clear: both;
}

.active-button {
    background-color: brown;
}